@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Outfit', ui-sans-serif, system-ui, sans-serif;
    
    /* Dynamic Brand Colors (KedaiPOS Official) */
    --color-brand-primary: #1E1E1E;
    --color-brand-secondary: #FFD60A;
    --color-brand-accent: #9D4EDD;
}

@layer utilities {
    /* Legacy scrollbar removed */
}
